-
    const community = [
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },
        {
            name: 'Greg Hammer',
            role: 'MD',
            company: 'Professor, Stanford University',
            hobbies: 'Author, "Gain Without Pain"',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
                twitter:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/"
            }
        },

    ]

    // works-clients grid random appear
    //- const timeNums = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600];

section(class="py-10 md:py-16 mt-10 bg-stone-200")
    .container
        h2.text-3xl.font-bold.text-center.text-blue-900 People List
        div(class="mt-6 md:mt-10 grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))")
            each person in community
                div.item(href="#" class="m-auto max-w-sm sm:max-w-none relative block overflow-hidden group min-w-fit no-underline p-2 shadow-xl text-black bg-white")
                    .overlay(class="absolute inset-0 p-3 grid place-items-center opacity-0 z-50 bg-blue-dark/80 duration-500 transition-opacity group-hover:opacity-100 group-hover:backdrop-blur-sm")
                        .text(class="text-center text-white tracking-wide")
                            header.font-bold #{person.name}, #{person.role}
                            div(class="text-xs mt-2") #{person.company}
                            div(class="text-xs mt-2") #{person.hobbies}

                            - let social = Object(person.contacts)
                            each val, key in social
                                a(href=`${val}` class="text-gray-light hover:text-blue-light mx-1" target="_blank") #{key}


                    img(loading="lazy" width="470" height="262" src="../../img/person.png" class="relative w-full h-full z-0 duration-1000   border-3 border-current text-white hover:text-blue ")
                    p.font-bold.p-2 #{person.name}, #{person.role}



