-
    const friends = [
        {
            id: 1,
            name: 'Greg Hammer, MD',
            role: 'Professor, Stanford University',
            image: 'GregHammer',
            description: 'Author, Gain Without Pain . Foreword by Daniel J. Seigel, MD: “Filled with fascinating interviews of leading experts and insights into how to transform personal and professional challenges into strength and wisdom.”',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 2,
            name: 'Gina Bria',
            role: 'Researcher, consultant & speaker: hydration strategies for health & agriculture',
            image: 'GinaBria',
            description: 'Named Knowledge Partner with US State Department AIM Initiative, and Real World Scholar. Recipient, BUCKMINSTER FULLER DESIGN SCIENCE STUDIO AWARD. Promoting optimal hydration for people, plants, and soils.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 3,
            name: 'Linda Leum',
            role: 'Doctors without Borders, MSF.',
            image: 'LindaLeum',
            description: 'Anesthesiologist in Santa Cruz, CA. Affiliated with multiple hospitals, including  Providence Regional Medical Center Everett  & Dominican Hospital . Degree from Harvard Medical School. In practice for over 20-years.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 4,
            name: 'Mandy Hawes',
            role: 'Lawyer',
            image: 'MandyHawes',
            description: 'Partner at class-action litigation firm Alexander, Hawes & Audet. Graduate of Wellesley College. Awarded Juris Doctorate by Harvard Law School. Pioneer in toxic chemical litigation and medical effects of toxic chemicals.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 5,
            name: 'Michael Likosky',
            role: 'Legal Advisor',
            image: 'MichaelLikosky',
            description: 'Lawyer in public-private projects and organizations for the last twenty years, advising government including Governors Newsom, Brown, Murphy, and Cuomo.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 6,
            name: 'Mukul Bakshi',
            role: 'Ad Man',
            image: 'MukulBakshi',
            description: 'Copywriter and Creative Director at Tungsten. Absolutely stark raving mad. ',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 7,
            name: 'Piotr Uchman',
            role: 'Business Outreach Specialist',
            image: 'PiotrUchman',
            description: 'Track record of business development by creating sales clusters. Experience running hybrid sales model to deliver opportunities in developing technologies and new markets. Expert in renewable technologies, storage technologies, and policies guiding adoption.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 8,
            name: 'Randy Olson',
            role: 'National Geographic Photographer',
            image: 'RandyOlson',
            description: 'Professional photographer specializing in global narratives in social documentary, commercial and advertising photography.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 9,
            name: 'Tim Blake',
            role: 'Author',
            image: 'TimBlake',
            description: 'Author, Imagery to Life. Dedicated to those without a chance to experience beauty in nature. Especially kids with health challenges who likely have never been able to see the ocean, or experience other sights and sounds of nature.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 10,
            name: 'George Orbelian',
            role: 'Board Member, Buckminster Fuller Institute',
            image: 'LindaLeum',
            description: 'Planet Positive Ventures: a venture capital think tank and investment advisory firm founded by industry veterans to address humanity’s most pressing needs and its symbiotic existence with nature.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 11,
            name: 'Federica Armstrong',
            role: 'Visual Storyteller',
            image: 'FedericaArmstrong',
            description: 'Visual storyteller born in Italy. Currently residing in Palo Alto, CA. Her storytelling includes documentary and fine art on environmental and social issues, and personal narratives related to intimacy & belonging.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 12,
            name: 'Eric C. Wentworth',
            role: 'CMO|COO, Partner, Wentworth Executive Recruiting',
            image: 'EricCWentworth',
            description: 'Award-winning MarCom professional. Expertise in advertising, branding, copywriting, creative direction, PR, sales support, web design & content, promotion, event planning, social media, print and broadcast production.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
        {
            id: 13,
            name: 'David Gibson',
            role: 'Sound Therapist',
            image: 'DavidGibson',
            description: 'Leading teacher, researcher, composer, and innovator in the field of sound healing and sound therapy. Author of The Complete Guide to Sound Healing.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",
            },
        },
        {
            id: 14,
            name: 'Carol Ann Wentworth',
            role: 'CEO, Wentworth Executive Recruiting',
            image: 'CarolAnnWentworth',
            description: 'Co-author of A Mindful Career. 25-year experience in executive search and professional coaching. Award winning recruiter: President’s Club, Top Producer, North Bay Networking “Businessperson of the Year.” Passionate connector of people.',
            contacts: {
                linkedin:"https://www.linkedin.com/in/meg-hurtado-bloom-547aa210/",

            },
        },
    ]

    // works-clients grid random appear
    //- const timeNums = [50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600];

section(class="py-10 md:py-16")
    .container
        header(class="body-title leading-tight font-bold text-center") Friends of Friends
        div( class="mt-6 md:mt-10 items-center friends-grid" )
            each friend, index in friends
                .card(href="#" class=`h-full w-full m-auto relative min-h-min no-underline text-black card-${friend.id}`)
                    .card-content
                        .back(class="p-5 absolute inset-0 z-50 friends-gradient shadow-xl rounded-3xl" )
                            .text(class="text-center text-white tracking-wide flex flex-col items-center h-full")
                                header(class="text-base name font-bold") #{friend.name}
                                div(class="h-[2px] w-2 bg-white my-1")
                                b(class="role text-xs") #{friend.role}
                                div(class="text-[9px] pt-4 flex-1 description") #{friend.description}
                                div(class="contacts flex items-center justify-center pt-5")
                                    - let social = Object(friend.contacts)
                                    each val, key in social
                                        a(href=`${val}` class="text-white inline-block mx-1" target="_blank")
                                            +iconMono({
                                                classes: 'svg w-8 h-8 fill-current',
                                                icon: key
                                            })
                        .front.shadow-xl.bg-white.rounded-3xl.absolute.inset-0.w-full.h-full
                            img(loading="lazy" width="170" height="170" src=`img/friends/${friend.image}@680.png` class="absolute w-full h-full inset-0 object-cover z-0 ")
                            div(class="absolute py-2.5 left-0 right-auto bottom-9 friends-gradient rounded-r-full")
                                p(class=" font-bold px-6 text-white") #{friend.name}



